@use "./variables" as *;

.preferences-form {
  perspective: 500px;

  button {
    padding: 1.5ch 3ch;
    display: block;
    margin: 2rem auto 0;
    font-family: inherit;
    font-size: 1.25rem;
    color: $dark-primary;
    background-color: $light-primary;
    border: none;
    border-radius: 0;
    transform-style: preserve-3d;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 0.25s;

    &:hover {
      transform: translateZ(70px);
    }

    &:active {
      background-color: $dark-primary;
      color: $light-primary;
    }
  }
}
